@import "../../style.scss";

.user_general {
    @include themify($themes) {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 84vh;
        background: themed(bgSoft);
        padding: 0.3rem;

        a {
            display: flex;
            background: themed(bg);
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            justify-content: center;
            align-items: center;

            svg {
                color: themed(textColor);
            }
        }

        .usr_info_lists {
            display: grid;
            grid-template-columns: 35% 50% 15%;
            width: 100%;
            padding: 1rem;

            span {
                color: themed(textColor);
            }
        }
    }
}