.register {
    width: 100vw;
    /* height: 86vh; */
    display: grid;
    place-items: center;
    padding: 1rem;

    .register_container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        gap: 6rem;

        .register_left {
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 50px;
                color: plum;
                margin-bottom: 10px;
            }

            span {
                font-size: 24px;
            }
        }

        .register_right {
            display: grid;
            position: relative;
            width: 100%;
            background-color: plum;
            padding: 1rem;
            box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.5);
            border-bottom-right-radius: 55px;
            border-top-left-radius: 55px;

            .user_input_control {
                display: flex;
                flex-direction: column;
                margin-bottom: 2rem;
                gap: 10px;

                input {
                    height: 50px;
                    border-radius: 10px;
                    border: 1px solid gray;
                    font-size: 15px;
                    padding-left: 50px;
                }

                svg {
                    font-size: 1.8rem;
                    color: rgb(135, 172, 173);
                }


                .username_container {
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    input {
                        width: 100%;
                    }

                    .user_icon {
                        display: flex;
                        position: absolute;
                        left: 7px;
                        top: 10px;
                    }

                    .user_icon_divider {
                        display: flex;
                        position: absolute;
                        left: 40px;
                        font-size: 2.5rem;
                        color: rgb(135, 172, 173);
                    }

                    span {
                        font-size: 12px;
                        padding: 3px;
                        color: red;
                        display: none;
                        max-width: fit-content;
                    }

                    input:invalid[focused="true"] {
                        border: 1px solid red;
                    }

                    input:invalid[focused="true"]~span {
                        display: block;
                    }

                    .username_check {
                        font-size: 12px;
                        padding: 3px;
                        color: red;
                        display: flex;
                        max-width: fit-content;
                    }
                }

                .email_container {
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    input {
                        width: 100%;
                    }

                    .email_icon {
                        display: flex;
                        position: absolute;
                        left: 7px;
                        top: 10px;
                    }

                    .email_icon_divider {
                        display: flex;
                        position: absolute;
                        left: 40px;
                        font-size: 2.5rem;
                        color: rgb(135, 172, 173);
                    }

                    span {
                        font-size: 12px;
                        padding: 3px;
                        color: red;
                        display: none;
                        max-width: fit-content;
                    }

                    input:invalid[emailFocused="true"] {
                        border: 1px solid red;
                    }

                    input:invalid[emailFocused="true"]~span {
                        display: block;
                    }

                    .check_email {
                        font-size: 12px;
                        padding: 3px;
                        color: red;
                        display: flex;
                        max-width: fit-content;
                    }
                }

                .password_container {
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    input {
                        width: 100%;
                    }

                    .password_icon {
                        display: flex;
                        position: absolute;
                        left: 7px;
                        top: 10px;
                    }

                    .password_icon_divider {
                        display: flex;
                        position: absolute;
                        left: 40px;
                        font-size: 2.5rem;
                        color: rgb(135, 172, 173);
                    }

                    .show_hide_password {
                        display: flex;
                        position: absolute;
                        right: 23px;
                        top: 10px;
                        cursor: pointer;
                        color: rgb(135, 172, 173);
                    }

                    span {
                        font-size: 12px;
                        padding: 3px;
                        color: red;
                        display: none;
                        max-width: fit-content;
                    }

                    input:invalid[passwordFocused="true"] {
                        border: 1px solid red;
                    }

                    input:invalid[passwordFocused="true"]~span {
                        display: block;
                    }

                    .check_password {
                        font-size: 12px;
                        padding: 3px;
                        color: red;
                        display: flex;
                        max-width: fit-content;
                    }
                }

                .confirm_password_container {
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    input {
                        width: 100%;
                    }

                    .repeat_password_icon {
                        display: flex;
                        position: absolute;
                        left: 7px;
                        top: 10px;
                    }

                    .repeat_pass_icon_divider {
                        display: flex;
                        position: absolute;
                        left: 40px;
                        font-size: 2.5rem;
                        color: rgb(135, 172, 173);
                    }

                    //Not in use for now
                    .show_hide_rpassword {
                        display: flex;
                        position: absolute;
                        right: 23px;
                        top: 11px;
                    }

                    span {
                        font-size: 12px;
                        padding: 3px;
                        color: red;
                        display: none;
                        max-width: fit-content;
                    }

                    input:invalid[repeatPasswordFocused="true"] {
                        border: 1px solid red;
                    }

                    input:invalid[repeatPasswordFocused="true"]~span {
                        display: block;
                    }

                    .check_passwordRepeat {
                        font-size: 12px;
                        padding: 3px;
                        color: red;
                        display: flex;
                        max-width: fit-content;
                    }
                }


                .phone_container {
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    input {
                        width: 100%;
                    }

                    .phone_icon {
                        display: flex;
                        position: absolute;
                        left: 7px;
                        top: 10px;
                        z-index: 9;
                    }

                    .phone_icon_divider {
                        display: flex;
                        position: absolute;
                        left: 40px;
                        font-size: 2.5rem;
                        color: rgb(135, 172, 173);
                    }

                    .phone_input_field {
                        height: 50px;
                        border-radius: 10px;
                        border: 1px solid gray;
                        margin-bottom: 10px;
                        font-size: 10px;
                        padding-left: 50px;
                    }

                    .phone_select_codes {
                        position: absolute;
                        height: 46px;
                        width: 10px;
                        background: transparent;
                        font-size: 15px;
                        padding: 10px;
                        top: 2px;
                        left: 10px;
                        border: none;
                        z-index: 99;
                    }


                    span {
                        font-size: 12px;
                        padding: 3px;
                        color: red;
                        display: none;
                        max-width: fit-content;
                    }

                    input:invalid[usernameState] {
                        border: 1px solid red;
                    }

                    input:invalid[phoneFocused="true"]~span {
                        display: block;
                    }

                    .PhoneInputCountry {
                        //position: relative;
                        //align-self: stretch;
                        //display: flex;
                        //align-items: center;
                        background: white !important;
                        padding: 6px !important;
                        border-radius: 0.5rem 0 !important;
                        //margin-right: var(--PhoneInputCountrySelect-marginRight);
                    }
                }

            }

            h4 {
                display: flex;
                color: white;
                justify-content: flex-end;
                margin-top: -2rem;
            }

            .login_btn_con {
                display: flex;
                justify-content: flex-end;

                button {
                    display: flex;
                    background: var(--color-secondary);
                    color: rgb(73, 73, 175);
                    margin-right: 10px;
                    border-radius: 10px;
                    padding: 5px;
                    cursor: pointer;
                    font-size: 1rem;
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        .register_container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .register_left {
                align-items: center;
                justify-content: center;
                margin-top: -11rem;

                h3 {
                    display: flex;
                    font-size: 25px;
                }

                span {
                    font-size: 15px;
                }
            }

            .register_right {
                margin-top: -5rem;
            }

        }
    }
}