@import "../../../style.scss";


.pass_success {
    @include themify($themes) {
        display: flex;
        height: 100vh;

        .pass_success_container {
            display: flex;
            width: 100%;

            .pass_succeed_container {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;

                .pass_succeeded_container {
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    gap: 0.5rem;
                    border-radius: 1rem;
                    background: #f6f3f3;
                    height: 17rem;
                    width: 29rem;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 1px 2px 9px #c893c3;

                    .success_line {
                        display: flex;
                        height: 0.1rem;
                        width: 100%;
                        background: #c0b4b4;
                    }

                    .password_reset {
                        display: flex;
                        position: absolute;
                        right: 0.9rem;
                        bottom: 0.9rem;
                    }
                }
            }

        }

    }
}