@import "../../style.scss";


.footer_activities {
    @include themify($themes) {
        display: flex;
        padding: 10px 20px;
        height: 4rem;
        width: 100%;
        background: themed(bgSoft);
        border-top: 1px solid rgb(189, 185, 185);
        justify-content: flex-end;
        align-items: center;
        z-index: 9999;

        .footer_container {
            display: flex;
            gap: 1.5rem;

            .topbar_right_icons {
                display: flex;
                width: 3rem;
                height: 3rem;
                position: relative;
                justify-content: center;
                align-items: center;
                padding: 0.60rem;
                border-radius: 50%;
                cursor: pointer;
                background: themed(bgSoft);
                border: 2px solid transparent;
                transition: var(--transition);

                svg {
                    color: themed("textColor");
                    font-size: 20px;
                    transition: all 0.3s ease;
                }

                svg:hover {
                    transform: scale(1.2);
                    transition: all 0.3s ease;
                }

                .topbar_icon_badge {
                    display: flex;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    font-size: 11px;
                    border-radius: 50%;
                    top: 0;
                    right: -8px;
                    align-items: center;
                    justify-content: center;
                    background: #df4646;
                    color: themed("textColor");
                }
            }

            #check {
                display: none;
            }

            .topbar_right_icons:hover {
                background: transparent;
                border-color: themed(textColor);
            }

            .footer_follow_notify,
            .footer_like_notify,
            .footer_text_notify {
                height: calc(100vh - 7.8rem);
                width: 100%;
                flex-direction: column;
                overflow-y: scroll;
                scroll-behavior: smooth;
                transition: var(--transition);
                top: 63px;
                background: themed(bgSoft);
                font-weight: 300;
                position: fixed;
                padding: 1rem;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .hide_follow_notify,
            .hide_like_notify,
            .hide_text_notify {
                right: -100%;
                transition: var(--transition);
            }

            .show_follow_notify,
            .show_like_notify,
            .show_text_notify {
                display: flex;
                right: 0;
                transition: var(--transition);
            }

            .textOpen_container {
                display: flex;
                height: 100%;
                flex-direction: column;

                .textOpen_up {
                    display: flex;
                    height: 100%;
                    width: 100%;
                }

                .textOpen_down {
                    display: flex;
                    width: 100%;

                    a {
                        display: flex;
                        width: 100%;
                        justify-content: flex-end;

                        span {
                            display: flex;
                            background: lightcoral;
                            padding: 0.3rem;
                            border-radius: 0.2rem;
                            color: themed(textColor);
                            font-weight: 600;
                        }
                    }
                }

            }

        }
    }
}