@import "../../style.scss";

.contact {
    @include themify($themes) {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        background: themed(bg);

        .contact_US {
            display: flex;
            height: 60%;
            width: 100%;
            justify-content: center;
            align-items: flex-end;
            gap: 1rem;

            a {
                background: themed(bgSoft);
                font-size: 2rem;
                border: 2px solid transparent;
                transition: var(--transition);
                padding: 1rem;
                border-radius: 1.5rem;
                color: themed(textColor);

                .messengerGmail {
                    display: flex;

                    svg {
                        display: flex;
                        color: rgb(247, 107, 123);
                    }
                }

                .messengerFB {
                    display: flex;

                    svg {
                        display: flex;
                        color: rgb(107, 107, 247);
                    }
                }

                .messengerWhatsapp {
                    display: flex;

                    svg {
                        display: flex;
                        color: rgb(107, 247, 147);
                    }
                }

                &:hover {
                    background: transparent;
                    border-color: themed(textColor);
                    transition: var(--transition);
                }
            }
        }


    }

    @media screen and (max-width: 600px) {

        &.contact {
            .contact_US {
                height: 50%;

                a {
                    padding: 1rem;
                    font-size: 1.2rem;
                    border-radius: 1rem;
                }
            }
        }

    }
}