@import "../../../style.scss";

.textBox {
    @include themify($themes) {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: themed(bg);
        margin-top: -4.4rem;

        .sugarChats_container {
            display: grid;
            width: 100%;
            grid-template-columns: 20% 55% 25%;
            //margin-top: 5rem;

            .textBox_left {
                display: flex;
                flex-direction: column;
                margin-top: 4.4rem;
                border-right: 2px solid themed(textLeftBorderRight);
                box-shadow: 24px 11px 9px -11px themed(homeLeftRightShadow);

                input {
                    display: flex;
                    background: transparent;
                    padding: 0.6rem;
                }

                .textBox_chats {
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                    background: themed(conBackground);
                    padding: 0.4rem;
                    transition: all 0.3s ease;
                    cursor: pointer;

                    img {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                    }

                    span {
                        color: themed(textColor);
                    }

                    &:hover {
                        background: transparent;
                        transition: all 0.3s ease;
                    }
                }
            }

            .textBox_middle {
                display: flex;
                gap: 0.3rem;
                position: relative;
                width: 100%;
                height: 100vh;
                place-items: center;
                justify-content: center;

                svg,
                span {
                    color: themed(textColor);
                }
            }

            //Chat Sugar Hot Side
            .sugar_hot_cakes {
                display: flex;
                align-items: center;
                border: 5px solid gray;
                background: cadetblue;

                .sugar_hot_wrapper {
                    height: 80%;

                    img {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .textBox_right {
                display: flex;
                flex-direction: column;
                padding: 1rem;
                gap: 1rem;
                margin-top: 4.4rem;
                border-left: 2px solid themed(textLeftBorderRight);
                box-shadow: -24px 13px 7px -15px themed(homeLeftRightShadow);

                .textBox_right_container {
                    display: flex;
                    height: 12.5rem;

                    img {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        border-radius: 0.4rem;
                    }
                }
            }

        }

        @media screen and (max-width: 1024px) {
            &.textBox {

                .sugar_hot_cakes {
                    display: none;
                }

                .sugarChats_container {
                    grid-template-columns: 30% 70% !important;
                }
            }
        }

        @media screen and (max-width: 600px) {
            &.textBox {

                .sugarChats_container {
                    display: flex;
                    width: 100%;
                    height: 100vh;

                    .textBox_left {
                        width: 100%;
                    }

                    .textBox_middle {
                        display: none;
                    }

                    .sugarChats_messages {
                        .sugarChats_TextCreatedAt {
                            span {
                                display: none;
                            }
                        }

                    }
                }
            }
        }

    }
}